{% load static %}
<html>
    <head>
        <title>UpChat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ac520e76b0.js" crossorigin="anonymous"></script>
        

        <style>
            body{
                height: 100%;
                font-family: 'Source Sans Pro';
            }
            .medium-head{
                font-size: 0.9rem;
                cursor: pointer;
                color: rgb(0, 140, 255);
                font-weight: 600;
            }
            .medium-head:hover{
                transition: ease-in-out 0.5s;
                font-size: 1rem;
                cursor: pointer;
                color: rgb(0, 140, 255);
                font-weight: 600;
            }
            .normal-head{
                font-size: 2rem;
                color: black;
                font-weight: 900;
            }
        </style>
    </head>
    <body>
        {% if user.is_authenticated %}
            <script>
                $(document).ready(function(){
                    window.location.replace('{% url "screen" %}');
                });
            </script>
        {% endif %}
        <div class="col-md-12" style="padding: 40px; background-color: rgb(0, 0, 0); height: 100%;">
            <div class="col-md-4 mx-auto text-center" style="background-color: white; padding: 40px; border-radius: 20px; margin-top: 100px;">
                <div class="mx-auto text-center">
                    <form action="{% url 'sign_in' %}" class="login_form form" method="POST">{% csrf_token %}
                        <div style="padding-bottom: 30px;"><span class="normal-head">SIGN IN</span>
                        {% if e %}
                            <p class="error" style="color: red; font-weight: 700;">{{e}}</p>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="text" required class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" required class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button><Br><Br>
                        <span class="medium-head create_acc" onclick="sign_up();">Create an account Here</span>
                    </form>
                    <form action="{% url 'sign_up' %}" class="signup_form form" method="POST" style="display: none;">{% csrf_token %}
                        <div style="padding-bottom: 30px;"><span class="normal-head">SIGN UP</span>
                        {% if e %}
                            <p class="error" style="color: red; font-weight: 700;">{{e}}</p>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="text" required class="form-control" name="fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" required class="form-control" name="lname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" required class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" required class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button><br><Br>
                        <span class="medium-head create_acc" onclick="sign_in();">Already have an account</span>
                    </form>
                </div>
            </div>
        </div>
    </body>
        <script>
            var t, u;
            function sign_in(){
                $('.signup_form').fadeOut();
                $('.login_form').show();
                $('.error').html(' ');
            }
            function sign_up(){
                $('.login_form').fadeOut();
                $('.signup_form').show();
                $('.error').html(' ');
            }
        </script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
</html>